Repository slknijnenburg/framegallery: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, pytest, typescript-lint, typescript-test

ruff-check:
  name: Python Linting (Ruff)
  entry: uv run ruff check .
  language: system
  pass_filenames: false

ruff-format:
  name: Python Formatting (Ruff)
  entry: uv run ruff format .
  language: system
  pass_filenames: false

pytest:
  name: Python Tests (Pytest)
  entry: uv run pytest
  language: system
  pass_filenames: false
  stages:
  - pre-commit

typescript-lint:
  name: TypeScript Linting (ESLint)
  entry: bash -c 'cd ui && npm run lint'
  language: system
  pass_filenames: false

typescript-test:
  name: TypeScript Tests (Jest)
  entry: bash -c 'cd ui && npm test -- --watchAll=false --passWithNoTests'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(ui): silence stricter set-state-in-effect rule
  ui/src/SettingsContext.tsx
  ui/src/pages/TvFiles.tsx
Due: typescript-lint, typescript-test

chore(ui): unblock npm install on eslint 10
  ui/.npmrc
  ui/package-lock.json
  ui/package.json
Due: none

fix(ui): collapse matteId let/if-else into const ternary
  ui/src/components/ArtItemDialog.tsx
Due: typescript-lint, typescript-test

fix(deps): restore jest to v30 (revert accidental downgrade to v25)
  ui/package-lock.json
Due: none

fix(deps): restore jest to v30 (revert accidental downgrade to v25) (#531)
  ui/package-lock.json
Due: none

fix(docker): unify Python version across build stages; pin eslint to v9
  Dockerfile
  renovate.json5
  ui/package-lock.json
  ui/package.json
Due: none

fix(docker): unify Python version across build stages; pin eslint to v9 (#532)
  Dockerfile
  renovate.json5
  ui/package-lock.json
  ui/package.json
Due: none

chore(deps): update samsungtvws fork to v3.0.5
  uv.lock
Due: none

fix: connect to Frame TV again after firmware update
  data/.gitignore
  framegallery/frame_connector/frame_connector.py
Due: ruff-check, ruff-format, pytest

feat: make TV client name configurable via env
  .env.dist
  README.md
  framegallery/config.py
  framegallery/frame_connector/frame_connector.py
Due: ruff-check, ruff-format, pytest

chore(deps): update samsungtvws fork to 6fda1c3
  uv.lock
Due: none

fix: query live art-mode status before slideshow upload
  framegallery/frame_connector/frame_connector.py
Due: ruff-check, ruff-format, pytest

Fix major upgrade issues
  Justfile
  ui/package-lock.json
  ui/package.json
  ui/src/App.tsx
  ui/src/components/ArtItemDialog.tsx
  ui/src/components/SettingsStatus.tsx
  ui/src/components/TvFileList.tsx
  ui/src/pages/Settings.tsx
  ui/src/pages/TvFiles.tsx
Due: typescript-lint, typescript-test

fix: address PR review feedback on external photo libraries
  README.md
  framegallery/frame_connector/frame_connector.py
  framegallery/libraries/factory.py
  framegallery/libraries/manager.py
  tests/unit/framegallery/libraries/test_manager.py
  ui/src/pages/Libraries.tsx
Due: ruff-check, ruff-format, pytest, typescript-lint, typescript-test

feat: separate log level for WebSocket keepalive noise
  .env.dist
  README.md
  framegallery/config.py
  framegallery/frame_connector/frame_connector.py
  framegallery/importer2/importer.py
  framegallery/logging_config.py
  framegallery/main.py
Due: ruff-check, ruff-format, pytest

feat: separate log level for WebSocket keepalive noise (#557)
  .env.dist
  README.md
  framegallery/config.py
  framegallery/frame_connector/frame_connector.py
  framegallery/importer2/importer.py
  framegallery/logging_config.py
  framegallery/main.py
Due: ruff-check, ruff-format, pytest

Fix artifact attestation permissions
  .github/workflows/docker-build.yml
Due: none

docs: add feature comparisons vs frame-sync and Docent
  docs/alternative-systems/docent-feature-comparison.md
  docs/alternative-systems/frame-close-hauled-feature-comparison.md
Due: none

feat: selectable upload processors to diagnose TV Art-Mode crashes
  .env.dist
  README.md
  framegallery/auto_cleanup/tv_cleanup_service.py
  framegallery/config.py
  framegallery/dependencies.py
  framegallery/frame_connector/processors/__init__.py
  framegallery/frame_connector/processors/base.py
  framegallery/frame_connector/processors/batch_slideshow.py
  framegallery/frame_connector/processors/factory.py
  framegallery/frame_connector/processors/single_async.py
  framegallery/frame_connector/processors/sync_thread.py
  framegallery/main.py
  framegallery/repository/config_repository.py
  framegallery/routers/tv_files.py
  tests/integration/framegallery/repository/test_config_repository.py
  tests/unit/framegallery/frame_connector/processors/__init__.py
  tests/unit/framegallery/frame_connector/processors/test_batch_slideshow.py
  tests/unit/framegallery/frame_connector/processors/test_factory.py
  tests/unit/framegallery/frame_connector/processors/test_sync_thread.py
  tests/unit/framegallery/frame_connector/test_frame_connector.py
  tests/unit/framegallery/routers/test_tv_files_router.py
  tests/unit/framegallery/test_slideshow_gating.py
Due: ruff-check, ruff-format, pytest

fix: address PR review — event-loop-safe pinger + clean shutdown
  framegallery/frame_connector/processors/base.py
  framegallery/main.py
  framegallery/routers/tv_files.py
  tests/unit/framegallery/frame_connector/processors/test_base_lifecycle.py
Due: ruff-check, ruff-format, pytest

fix: collapse repeated TV reconnection-failure logging
  framegallery/frame_connector/processors/base.py
  tests/unit/framegallery/frame_connector/processors/test_base_lifecycle.py
Due: ruff-check, ruff-format, pytest

fix(sync_thread): handle string content_id returned by sync upload
  framegallery/frame_connector/processors/sync_thread.py
  tests/unit/framegallery/frame_connector/processors/test_sync_thread.py
Due: ruff-check, ruff-format, pytest

fix: push first slideshow image once the TV connection is ready
  framegallery/main.py
  tests/unit/framegallery/test_slideshow_gating.py
Due: ruff-check, ruff-format, pytest

fix(batch_slideshow): make TV rotation-enable resilient after upload burst
  framegallery/frame_connector/processors/batch_slideshow.py
  tests/unit/framegallery/frame_connector/processors/test_batch_slideshow.py
Due: ruff-check, ruff-format, pytest

docs(batch_slideshow): clarify "rotation" means slideshow, not panel rotation
  framegallery/frame_connector/processors/batch_slideshow.py
Due: ruff-check, ruff-format, pytest

feat: selectable upload processors to diagnose TV Art-Mode crashes (#563)
  .env.dist
  README.md
  docs/alternative-systems/docent-feature-comparison.md
  docs/alternative-systems/frame-close-hauled-feature-comparison.md
  framegallery/auto_cleanup/tv_cleanup_service.py
  framegallery/config.py
  framegallery/dependencies.py
  framegallery/frame_connector/processors/__init__.py
  framegallery/frame_connector/processors/base.py
  framegallery/frame_connector/processors/batch_slideshow.py
  framegallery/frame_connector/processors/factory.py
  framegallery/frame_connector/processors/single_async.py
  framegallery/frame_connector/processors/sync_thread.py
  framegallery/main.py
  framegallery/repository/config_repository.py
  framegallery/routers/tv_files.py
  tests/integration/framegallery/repository/test_config_repository.py
  tests/unit/framegallery/frame_connector/processors/__init__.py
  tests/unit/framegallery/frame_connector/processors/test_base_lifecycle.py
  tests/unit/framegallery/frame_connector/processors/test_batch_slideshow.py
  tests/unit/framegallery/frame_connector/processors/test_factory.py
  tests/unit/framegallery/frame_connector/processors/test_sync_thread.py
  tests/unit/framegallery/frame_connector/test_frame_connector.py
  tests/unit/framegallery/routers/test_tv_files_router.py
  tests/unit/framegallery/test_slideshow_gating.py
Due: ruff-check, ruff-format, pytest

fix: add settle delay between TV commands to prevent Art Mode crashes
  .env.dist
  README.md
  framegallery/config.py
  framegallery/frame_connector/processors/base.py
  framegallery/frame_connector/processors/single_async.py
  framegallery/frame_connector/processors/sync_thread.py
  tests/unit/framegallery/frame_connector/processors/test_sync_thread.py
Due: ruff-check, ruff-format, pytest

fix: add settle delay between TV commands to prevent Art Mode crashes (#564)
  .env.dist
  README.md
  framegallery/config.py
  framegallery/frame_connector/processors/base.py
  framegallery/frame_connector/processors/single_async.py
  framegallery/frame_connector/processors/sync_thread.py
  tests/unit/framegallery/frame_connector/processors/test_sync_thread.py
Due: ruff-check, ruff-format, pytest

fix: local library selection follows the active filter again
  framegallery/libraries/factory.py
  framegallery/models.py
  framegallery/routers/libraries.py
  framegallery/schemas.py
  tests/unit/framegallery/libraries/test_factory.py
  tests/unit/framegallery/routers/test_libraries_router.py
  ui/src/models/Library.ts
Due: ruff-check, ruff-format, pytest, typescript-lint, typescript-test

fix: local library selection follows the active filter again (#571)
  framegallery/libraries/factory.py
  framegallery/models.py
  framegallery/routers/libraries.py
  framegallery/schemas.py
  tests/unit/framegallery/libraries/test_factory.py
  tests/unit/framegallery/routers/test_libraries_router.py
  ui/src/models/Library.ts
Due: ruff-check, ruff-format, pytest, typescript-lint, typescript-test

chore: rotate logs with 7-day retention
  README.md
  docker-compose.yml
  framegallery/logging_config.py
  tests/unit/framegallery/test_logging_config.py
Due: ruff-check, ruff-format, pytest

fix: treat an existing stderr handler as serving the console
  README.md
  framegallery/logging_config.py
  tests/unit/framegallery/test_logging_config.py
Due: ruff-check, ruff-format, pytest

chore: rotate logs with 7-day retention (#575)
  README.md
  docker-compose.yml
  framegallery/logging_config.py
  tests/unit/framegallery/test_logging_config.py
Due: ruff-check, ruff-format, pytest

feat: add an art-mode watchdog
  README.md
  framegallery/config.py
  framegallery/frame_connector/art_mode_watchdog.py
  framegallery/frame_connector/processors/base.py
  framegallery/frame_connector/processors/single_async.py
  framegallery/frame_connector/processors/sync_thread.py
  framegallery/main.py
  tests/unit/framegallery/frame_connector/processors/test_art_mode.py
  tests/unit/framegallery/frame_connector/processors/test_sync_thread.py
  tests/unit/framegallery/frame_connector/test_art_mode_watchdog.py
  tests/unit/framegallery/test_status_endpoint.py
Due: ruff-check, ruff-format, pytest

feat: add a TV watch mode toggle
  README.md
  framegallery/frame_connector/processors/base.py
  framegallery/main.py
  framegallery/repository/config_repository.py
  framegallery/routers/config.py
  framegallery/schemas.py
  tests/integration/framegallery/repository/test_config_repository.py
  tests/unit/framegallery/frame_connector/processors/test_art_mode.py
  tests/unit/framegallery/test_slideshow_gating.py
  ui/src/models/Settings.ts
  ui/src/pages/Settings.tsx
Due: ruff-check, ruff-format, pytest, typescript-lint, typescript-test

fix: degrade to the default when a setting cannot be read
  framegallery/repository/config_repository.py
  tests/integration/framegallery/repository/test_config_repository.py
  tests/unit/framegallery/frame_connector/processors/test_sync_thread.py
Due: ruff-check, ruff-format, pytest

feat: art-mode watchdog and TV watch mode toggle (#576)
  README.md
  framegallery/config.py
  framegallery/frame_connector/art_mode_watchdog.py
  framegallery/frame_connector/processors/base.py
  framegallery/frame_connector/processors/single_async.py
  framegallery/frame_connector/processors/sync_thread.py
  framegallery/main.py
  framegallery/repository/config_repository.py
  framegallery/routers/config.py
  framegallery/schemas.py
  tests/integration/framegallery/repository/test_config_repository.py
  tests/unit/framegallery/frame_connector/processors/test_art_mode.py
  tests/unit/framegallery/frame_connector/processors/test_sync_thread.py
  tests/unit/framegallery/frame_connector/test_art_mode_watchdog.py
  tests/unit/framegallery/test_slideshow_gating.py
  tests/unit/framegallery/test_status_endpoint.py
  ui/src/models/Settings.ts
  ui/src/pages/Settings.tsx
Due: ruff-check, ruff-format, pytest, typescript-lint, typescript-test

fix: stop leaving orphaned images on the TV
  README.md
  framegallery/frame_connector/processors/base.py
  framegallery/frame_connector/processors/single_async.py
  framegallery/frame_connector/processors/sync_thread.py
  framegallery/repository/config_repository.py
  tests/integration/framegallery/repository/test_config_repository.py
  tests/unit/framegallery/frame_connector/processors/test_art_mode.py
  tests/unit/framegallery/frame_connector/processors/test_base_lifecycle.py
  tests/unit/framegallery/frame_connector/processors/test_content_tracking.py
  tests/unit/framegallery/frame_connector/processors/test_sync_thread.py
Due: ruff-check, ruff-format, pytest

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  pytest: any of: \.py$
  typescript-lint: any of: ^ui/.*\.(ts|tsx|js|jsx)$
  typescript-test: any of: ^ui/.*\.(ts|tsx|js|jsx)$
