Repository slknijnenburg/framegallery: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, pytest, typescript-lint, typescript-test

ruff-check:
  name: Python Linting (Ruff)
  entry: uv run ruff check .
  language: system
  pass_filenames: false

ruff-format:
  name: Python Formatting (Ruff)
  entry: uv run ruff format .
  language: system
  pass_filenames: false

pytest:
  name: Python Tests (Pytest)
  entry: uv run pytest
  language: system
  pass_filenames: false
  stages:
  - pre-commit

typescript-lint:
  name: TypeScript Linting (ESLint)
  entry: bash -c 'cd ui && npm run lint'
  language: system
  pass_filenames: false

typescript-test:
  name: TypeScript Tests (Jest)
  entry: bash -c 'cd ui && npm test -- --watchAll=false --passWithNoTests'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

style: fix formatting in .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

fix: add explicit CORS headers for Firefox SSE compatibility
  framegallery/main.py
Due: ruff-check, ruff-format, pytest

feat: make Docker volume mount paths configurable via environment variables
  .env.dist
  docker-compose.yml
Due: none

fix: improve Firefox SSE compatibility with configurable CORS
  framegallery/config.py
  framegallery/main.py
Due: ruff-check, ruff-format, pytest

fix: add Firefox SSE debugging and direct backend connection
  .env.dist
  CLAUDE.md
  README.md
  ui/src/App.tsx
  ui/vite.config.ts
Due: typescript-lint, typescript-test

fix: add Firefox SSE debugging and direct backend connection
  .env.dist
  CLAUDE.md
  README.md
  framegallery/main.py
  ui/src/App.tsx
  ui/vite.config.ts
Due: ruff-check, ruff-format, pytest, typescript-lint, typescript-test

security: improve CORS origin validation and code quality
  framegallery/main.py
  ui/src/App.tsx
Due: ruff-check, ruff-format, pytest, typescript-lint, typescript-test

feat: add Edit and Crop buttons to frontpage for active image
  ui/src/App.tsx
  ui/src/components/ArtItemCard.tsx
  ui/src/components/CropDialog/CropDialog.tsx
  ui/src/components/Filters/FilterBuilder.tsx
  ui/src/components/SettingsStatus.tsx
  ui/src/pages/Filters.tsx
Due: typescript-lint, typescript-test

feat: add image keyword extraction from XMP metadata
  CLAUDE.md
  alembic/versions/52a6abce1999_add_keywords_to_images.py
  framegallery/importer2/importer.py
  framegallery/models.py
  framegallery/schemas.py
  pyproject.toml
  tests/unit/framegallery/importer2/__init__.py
  tests/unit/framegallery/importer2/test_keyword_extraction.py
  tests/unit/test_image.jpg
  ui/src/components/ArtItemDialog.tsx
  ui/src/models/Image.ts
  update_keywords.py
  uv.lock
Due: ruff-check, ruff-format, pytest, typescript-lint, typescript-test

feat: add keyword filters to image filtering system
  .gitignore
  framegallery/repository/filters/image_filter.py
  framegallery/repository/filters/query_builder.py
  tests/unit/framegallery/repository/filters/image_filter_test.py
  ui/src/components/Filters/FilterBuilder.tsx
Due: ruff-check, ruff-format, pytest, typescript-lint, typescript-test

Add update_keywords.py script to Docker image
  Dockerfile
Due: none

refactor: address review feedback for KeywordFilter
  framegallery/repository/filters/image_filter.py
  tests/unit/framegallery/repository/filters/image_filter_test.py
Due: ruff-check, ruff-format, pytest

security: fix SQL injection vulnerabilities in KeywordFilter LIKE patterns
  framegallery/repository/filters/image_filter.py
  tests/unit/framegallery/repository/filters/image_filter_test.py
Due: ruff-check, ruff-format, pytest

refactor: optimize KeywordFilter with helper functions and fail-fast validation
  framegallery/repository/filters/image_filter.py
  tests/unit/framegallery/repository/filters/image_filter_test.py
Due: ruff-check, ruff-format, pytest

Update dependencies
  uv.lock
Due: none

Add core list_files method to FrameConnector
  features/ability-to-list-files-on-tv.md
  framegallery/frame_connector/frame_connector.py
  pyproject.toml
  tests/unit/framegallery/frame_connector/__init__.py
  tests/unit/framegallery/frame_connector/test_frame_connector.py
  uv.lock
Due: ruff-check, ruff-format, pytest

Fix ruff linting issues
  framegallery/frame_connector/frame_connector.py
  framegallery/migrations.py
Due: ruff-check, ruff-format, pytest

Add commit command documentation
  .claude/commands/commit.md
Due: none

fix: resolve ruff linting issues in frame connector tests
  framegallery/frame_connector/frame_connector.py
  framegallery/migrations.py
  tests/unit/framegallery/frame_connector/test_frame_connector.py
Due: ruff-check, ruff-format, pytest

feat: add frontend TV files viewer with complete backend API
  features/frontend-ability-to-list-files-on-tv.md
  framegallery/dependencies.py
  framegallery/main.py
  framegallery/routers/tv_files.py
  framegallery/schemas.py
  tests/unit/framegallery/routers/test_tv_files_router.py
  ui/src/App.tsx
  ui/src/components/TvFileList.tsx
  ui/src/models/TvFile.ts
  ui/src/pages/TvFiles.tsx
  ui/src/services/tvFilesService.ts
  ui/tests/components/TvFileList.test.tsx
  ui/tests/services/tvFilesService.test.ts
Due: ruff-check, ruff-format, pytest, typescript-lint, typescript-test

fix: resolve URL construction error in TV files service for development mode
  ui/src/services/tvFilesService.ts
Due: typescript-lint, typescript-test

feat: improve Samsung TV file listing with extended timeout and better data handling
  framegallery/frame_connector/frame_connector.py
  tests/unit/framegallery/frame_connector/test_frame_connector.py
Due: ruff-check, ruff-format, pytest

feat: replace file size with dimensions and improve date display in TV files table
  framegallery/routers/tv_files.py
  framegallery/schemas.py
  tests/unit/framegallery/routers/test_tv_files_router.py
  ui/src/components/TvFileList.tsx
  ui/src/models/TvFile.ts
  ui/src/services/tvFilesService.ts
  ui/tests/components/TvFileList.test.tsx
Due: ruff-check, ruff-format, pytest, typescript-lint, typescript-test

fix: add DELETE method to CORS configuration for TV file operations
  framegallery/main.py
Due: ruff-check, ruff-format, pytest

feat: add delete functionality for TV files with full-stack implementation
  framegallery/frame_connector/frame_connector.py
  framegallery/routers/tv_files.py
  ui/src/components/TvFileList.tsx
  ui/src/pages/TvFiles.tsx
  ui/src/services/tvFilesService.ts
Due: ruff-check, ruff-format, pytest, typescript-lint, typescript-test

feat: add multi-select delete with chunking for TV files
  framegallery/frame_connector/frame_connector.py
  framegallery/routers/tv_files.py
  ui/src/components/TvFileList.tsx
  ui/src/pages/TvFiles.tsx
  ui/src/services/tvFilesService.ts
Due: ruff-check, ruff-format, pytest, typescript-lint, typescript-test

feat: add TV auto-cleanup service with hourly scheduling
  framegallery/auto_cleanup/__init__.py
  framegallery/auto_cleanup/tv_cleanup_service.py
  framegallery/main.py
  framegallery/repository/config_repository.py
  framegallery/routers/config.py
  framegallery/routers/tv_files.py
  framegallery/schemas.py
  ui/src/App.tsx
  ui/src/SettingsContext.tsx
  ui/src/components/SettingsStatus.tsx
  ui/src/models/Settings.ts
  ui/src/pages/Settings.tsx
Due: ruff-check, ruff-format, pytest, typescript-lint, typescript-test

Enable auto-merge on renovate PRs
  renovate.json5
Due: none

test: fix accessible names in FilterBuilder test
  ui/tests/components/Filters/FilterBuilder.test.tsx
Due: typescript-lint, typescript-test

refactor: migrate React components to React 19 patterns
  ui/src/App.tsx
  ui/src/components/Filters/FilterBuilder.tsx
  ui/src/components/ImageGrid.tsx
  ui/src/pages/Filters.tsx
Due: typescript-lint, typescript-test

chore: normalize package-lock.json peer dependency flags
  ui/package-lock.json
Due: none

ci: add always-run status checks for branch protection
  .github/workflows/quality-js.yml
  .github/workflows/quality-python.yml
Due: none

Remove comment
  ui/src/index.tsx
Due: typescript-lint, typescript-test

Python change
  framegallery/config.py
Due: ruff-check, ruff-format, pytest

fix: use matrix python version in workflow
  .github/workflows/quality-python.yml
Due: none

Update Python versions in workflow matrix (#366)
  .github/workflows/quality-python.yml
  framegallery/config.py
  ui/src/index.tsx
Due: ruff-check, ruff-format, pytest, typescript-lint, typescript-test

Update build pipeline to fix Python/JS checks
  .github/workflows/quality-js.yml
  .github/workflows/quality-python.yml
Due: none

fix(ui): set rootDir and ignoreDeprecations for TypeScript 6
  ui/tsconfig.json
Due: none

chore: add install target to Justfile
  Justfile
Due: none

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  pytest: any of: \.py$
  typescript-lint: any of: ^ui/.*\.(ts|tsx|js|jsx)$
  typescript-test: any of: ^ui/.*\.(ts|tsx|js|jsx)$
