Repository slknijnenburg/framegallery: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, pytest, typescript-lint, typescript-test

.pre-commit-config.yaml:

repos:
  # Python linting and formatting
  - repo: local
    hooks:
      - id: ruff-check
        name: Python Linting (Ruff)
        entry: uv run ruff check .
        language: system
        types: [python]
        pass_filenames: false
        
      - id: ruff-format
        name: Python Formatting (Ruff)
        entry: uv run ruff format .
        language: system
        types: [python]
        pass_filenames: false

  # Python tests
  - repo: local
    hooks:
      - id: pytest
        name: Python Tests (Pytest)
        entry: uv run pytest
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

  # TypeScript/JavaScript linting and tests
  - repo: local
    hooks:
      - id: typescript-lint
        name: TypeScript Linting (ESLint)
        entry: bash -c 'cd ui && npm run lint'
        language: system
        files: ^ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        
      - id: typescript-test
        name: TypeScript Tests (Jest)
        entry: bash -c 'cd ui && npm test -- --watchAll=false --passWithNoTests'
        language: system
        files: ^ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        stages: [pre-commit]

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

fix: stop leaving orphaned images on the TV (#577)
  README.md
  framegallery/frame_connector/processors/base.py
  framegallery/frame_connector/processors/single_async.py
  framegallery/frame_connector/processors/sync_thread.py
  framegallery/repository/config_repository.py
  tests/integration/framegallery/repository/test_config_repository.py
  tests/unit/framegallery/frame_connector/processors/test_art_mode.py
  tests/unit/framegallery/frame_connector/processors/test_base_lifecycle.py
  tests/unit/framegallery/frame_connector/processors/test_content_tracking.py
  tests/unit/framegallery/frame_connector/processors/test_sync_thread.py
Due: ruff-check, ruff-format, pytest

chore: hold typescript at v6 until tooling supports v7
  renovate.json5
Due: none

chore: hold typescript at v6 until tooling supports v7 (#578)
  renovate.json5
Due: none

fix: TV Files page failed with "URL constructor: is not a valid URL"
  ui/src/services/tvFilesService.ts
  ui/tests/services/tvFilesService.test.ts
Due: typescript-lint, typescript-test

fix: TV Files page failed with "URL constructor: is not a valid URL" (#579)
  ui/src/services/tvFilesService.ts
  ui/tests/services/tvFilesService.test.ts
Due: typescript-lint, typescript-test

fix: check art mode after a failed upload, not just a successful one
  framegallery/frame_connector/processors/single_async.py
  framegallery/frame_connector/processors/sync_thread.py
  tests/unit/framegallery/frame_connector/processors/test_art_mode.py
Due: ruff-check, ruff-format, pytest

fix: check art mode after a failed upload, not just a successful one (#588)
  framegallery/frame_connector/processors/single_async.py
  framegallery/frame_connector/processors/sync_thread.py
  tests/unit/framegallery/frame_connector/processors/test_art_mode.py
Due: ruff-check, ruff-format, pytest

feat: support the plain-WebSocket TV port
  .env.dist
  README.md
  framegallery/config.py
  framegallery/frame_connector/processors/base.py
  tests/unit/framegallery/frame_connector/processors/test_base_lifecycle.py
Due: ruff-check, ruff-format, pytest

feat: support the plain-WebSocket TV port (#589)
  .env.dist
  README.md
  framegallery/config.py
  framegallery/frame_connector/processors/base.py
  tests/unit/framegallery/frame_connector/processors/test_base_lifecycle.py
Due: ruff-check, ruff-format, pytest

docs: correct the TV port guidance; don't report a crash before connecting
  .env.dist
  README.md
  framegallery/config.py
  framegallery/frame_connector/art_mode_watchdog.py
  tests/unit/framegallery/frame_connector/test_art_mode_watchdog.py
Due: ruff-check, ruff-format, pytest

docs: correct the TV port guidance; don't report a crash before connecting (#590)
  .env.dist
  README.md
  framegallery/config.py
  framegallery/frame_connector/art_mode_watchdog.py
  tests/unit/framegallery/frame_connector/test_art_mode_watchdog.py
Due: ruff-check, ruff-format, pytest

chore: ignore CLAUDE.local.md
  .gitignore
Due: none

chore: ignore CLAUDE.local.md (#591)
  .gitignore
Due: none

feat: normalize upload payloads and await slow upload confirmations
  .env.dist
  README.md
  docs/crash-analysis.md
  framegallery/config.py
  framegallery/frame_connector/processors/base.py
  framegallery/frame_connector/processors/sync_thread.py
  framegallery/image_manipulation.py
  tests/unit/framegallery/frame_connector/processors/test_payload_preparation.py
  tests/unit/framegallery/frame_connector/processors/test_sync_thread.py
  tests/unit/framegallery/test_upload_normalization.py
Due: ruff-check, ruff-format, pytest

feat: normalize upload payloads and await slow upload confirmations (#592)
  .env.dist
  README.md
  docs/crash-analysis.md
  framegallery/config.py
  framegallery/frame_connector/processors/base.py
  framegallery/frame_connector/processors/sync_thread.py
  framegallery/image_manipulation.py
  tests/unit/framegallery/frame_connector/processors/test_payload_preparation.py
  tests/unit/framegallery/frame_connector/processors/test_sync_thread.py
  tests/unit/framegallery/test_upload_normalization.py
Due: ruff-check, ruff-format, pytest

feat: optional TV connection keepalive for the sync_thread processor
  .env.dist
  README.md
  docs/crash-analysis.md
  framegallery/config.py
  framegallery/frame_connector/processors/sync_thread.py
  tests/unit/framegallery/frame_connector/processors/test_sync_thread.py
Due: ruff-check, ruff-format, pytest

feat: optional TV connection keepalive for the sync_thread processor (#593)
  .env.dist
  README.md
  docs/crash-analysis.md
  framegallery/config.py
  framegallery/frame_connector/processors/sync_thread.py
  tests/unit/framegallery/frame_connector/processors/test_sync_thread.py
Due: ruff-check, ruff-format, pytest
